<a href="https://colab.research.google.com/github/harishkumarchoudhary/CalTech_PGC_AI_ML/blob/main/4_Python_Decision_Control_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Control structures**
1. Sequential control structures
2. Decision control structures
3. Iterative control structures

In [ ]:
# Sequential control structures

In [ ]:
a = 3
b = 4
c1 = a + b
print(c1)

7

### **Decision control structures**

*   Conditional flow
*   Block execution


![decision_making.jpg]()
##   Types:

1.   Simple **if**
2.   **if** - **else**
3.   Nested **if** - **else**
4.   **if** - **elif** - **else**  
5.   Conditional expressions (Ternary operator)

### 1. Simple **if**

keyword - **if**

Block of code -> indented

```
Syntax :-   if (condition):
                Statement 1
                Statement 2
                    .
                    .
                Statement n
            Statement x
```

In [ ]:
a = 3

if a > 0 :
  print("Positive")
  print("Still in if block")

print("Out of if condition")

Positive
Still in if block
Out of if condition

In [ ]:
## Week 1 - Day 2 - Task 1
## WAP to prompt user to enter their name, age and amount to be paid by them.

name = input("Enter ur name ")
age = int(input("Enter ur age "))
amount = float(input("Enter ur amount "))

if age >= 55 :
  amount = amount - 0.1 * amount
  print("amount to be paid is", amount )

if age < 55 :
  print("amount to be paid is", amount )

Enter ur name Harish
Enter ur age 54
Enter ur amount 1002
amount to be paid is 1002.0

### 2. **if** - **else**

keywords - **if** & **else**

Two Blocks of code -> indented

**if** block = True block

**else** block = False block

```
Syntax :-   if (condition):
                Statement 1
                Statement 2
                    .
                    .
                Statement n
            else:
                Statement 1
                Statement 2
                    .
                    .
                Statement n
            Statement x
```

In [ ]:
a = 3

if a % 2 == 0:
  print("Its an even number")
else:
  print("Its an odd number")

Its an odd number

In [ ]:
## version 2
## Week 1 - Day 2 - Task 1
## WAP to prompt user to enter their name, age and amount to be paid by them.

name = input("Enter ur name ")
age = int(input("Enter ur age "))
amount = float(input("Enter ur amount "))

if age >= 55 :
  amount = amount - 0.1 * amount
  print("amount to be paid is", amount )
else :
  print("amount to be paid is", amount )

Enter ur name abc
Enter ur age 56
Enter ur amount 10000
amount to be paid is 9000.0

In [5]:
## Task 2

## WAP to prompt user to enter 2 numbers, Print the greater number among those 2
a = int(input("Enter ur first number "))
b = int(input("Enter ur second number "))
c= int(input("Enter third number"))

if a > b and a>c:
  print("a greater than b")
  #print(f"a={a} is greater than b={b}")
else:
  print("b greater than a")
  #print(f"b={b} is greater than a={a}")

Enter ur first number 2
Enter ur second number 3
Enter third number5
b greater than a

In [ ]:
("ML" and "AL") in ["klose","AL","ML"]

In [29]:
## Task 3 and Task 4

import random as r

r_num = r.randint(1,5) ## This is the number to be guessed

num = int(input("Enter ur choice ")) ## Ask user
print(type(r_num),type(num))
if num == r_num :
  print("U Win")
else :
  print("Better Luck Nxt time")
  print(f"Computers choice was {r_num}")

print("Game Over! Thank you for playing.")

KeyboardInterrupt: Interrupted by user

### 3. Nested **if** - **else**

keywords - **if** & **else**

Multiple Blocks of code -> indented

**if** block = True block

**else** block = False block

Used when **multiple dependent conditions** are present

```
Syntax :-   if (condition 1):
                # True Block
                if (condition 2):
                   # Inner True block
                   Statement 1
                   Statement 2
                else:
                   # Inner False block
                   Statement 1
                   Statement 2
            else:
                # False block
                if (condition 3):
                   # Inner True block
                   Statement 1
                   Statement 2
                else:
                   # Inner False block
                   Statement 1
                   Statement 2
            Statement x
```

In [30]:
# Nested if-else
# Find the largest of three numbers
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

# a = 10, b = 5, c = 20
# a = 5, b = 20, c =100
if (a > b):
  if (a > c):
    print("Largest number is: ", a)
  else:
    print("Largest number is: ", c)
else:
  if (b > c):
    print("Largest number is: ", b)
  else:
    print("Largest number is: ", c)

print("Immediate sequence statement")

Enter the first number: 23
Enter the second number: 34
Enter the third number: 56
Largest number is:  56
Immediate sequence statement

In [ ]:
## Student Query

# Find the largest of three numbers using logical oprs
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if a>=b and a>=c:
  print(a)
elif b>=a and b>=c:
  print(b)
else:
  print(c)

Enter the first number: 10
Enter the second number: 10
Enter the third number: 20
20

In [ ]:
## Task 5
## Modify the code in task 4,
## to give another chance to user,
## if the guess is incorrect. Use nested if-else statement

import random as r

rnum = r.randint(1,5)
firstguess = int(input('enter your guessing number'))

if firstguess == rnum:
  print('you win')
else :
  secondguess = int(input('enter for the second time'))
  if secondguess == rnum:
    print('you win')
  else:
    print('you loose')
    print("the correct answer is :", rnum)
    print('game over,thank you for playing')

enter your guessing number3
enter for the second time4
you loose
the correct answer is : 2
game over,thank you for playing

20### 4. **if** - **elif** - **else**

keywords - **if** , **elif**, **else**

Multiple Blocks of code -> indented

**if** block = True block

**elif** block = True block

**else** block = False block

Used when **multiple independent conditions** are present

```
Syntax :-   if (condition 1):
                Statement 1
                Statement 2
            elif (condition 2):
                Statement 1
                Statement 2
                    .
                    .
            else:
                Statement 1
                Statement 2
            Statement x
```

In [ ]:
# if - elif - else
# Find the grade of the student
marks = int(input("Enter the marks of the student: "))

if marks > 90:
  print("Grade: A")
elif marks > 75: # 75 - 90
  print("Grade: B")
elif marks > 60: # 60 -75
  print("Grade: C")
elif marks > 45:
  print("Grade: D")
else:
  print("Grade: F")

Enter the marks of the student: 44
Grade: F

In [ ]:
## num divisible by 3 and 5 both -> FizzBuzz
## num divisible by only 3 and not 5 -> Fizz
## num not divisible by 3 and div only by 5 -> Buzz
## any other case I print the number
a = 8

if a % 3 == 0:
  if a % 5 == 0:
    print("FizzBuzz")
  else:
    print("Fizz")
elif a % 5 == 0:
  print("Buzz")
else:
  print(a)

8

In [ ]:
a = 26

if a % 3 == 0 and a % 5 == 0:
  print("FizzBuzz")
elif a % 5 == 0:
  print("Buzz")
elif a % 3 == 0:
  print("Fizz")
else:
    print(a)

26

In [31]:
n = int(input('enter the number'))

if (n % 3 == 0):
  print("fizz")
  if(n % 5 == 0):
    print('buzz')
if(n % 5==0):
  if(n % 3 == 0):
    print('fizzbuzz')
  else:
    print('buzz')
else:
  print(n)

## Above version has redundant code

enter the number7
7

In [34]:
## Task 7

## WAP to check if an Employee is eligible for appraisal and hike or not,
## based on their total work experience and experience in current organization

current_exp = int(input("Enter your work experience in current organization (in months):"))

if current_exp >= 12:
  print("Eligible for Appraisal and Hike")
else:
  overall_past_exp = int(input('Enter your work-ex before joining this organization (in months):'))
  if overall_past_exp > 0:
    print('Appraisal and Default Hike') ## Lateral Hires
  else:
    print('Appraisal, No Hike') ## Freshers

Enter your work experience in current organization (in months):4
Enter your work-ex before joining this organization (in months):0
Appraisal, No Hike

### **Practice problems**
1. Write a program to print FizzBuzz. Input an integer. If it is
* Divisible by 3 - print FIZZ,
* Divisible by 5 - print BUZZ
* Divisible by both 3 and 5 - FIZZBUZZ
* Else print the number itself
2. WAP that takes price of as an item as input and calculates and display the selling price of the item based on below discounts:
* Items with price between Rs 0 - Rs 9999 get 10% discount
* Items with price between Rs 10000 - 20000 get 20% discount
* Items with price above Rs 20000 get 25% discount
3. Print the min and max of two numbers.
4. WAP that takes age of a person as input and checks if the person is eligible to vote.
5. Write a program that takes 'ch' as an input and based on its value do the following arithmetic calculation:

```
if ch=1  find a+b;
if ch=2 find a-b;
if ch=3  find a*b;
if ch=4  find a/b;
```

In [41]:
price=int(input("Enter the price of item in INR:"))
if price>0 and price<9999:
          new_price=price*0.9
elif price>9999 and price<=2000:
          new_price=price*0.8
else:
          new_price=price*0.75
print(f"price after discount is {new_price} INR ")

Enter the price of item in INR:256
price after discount is 230.4 INR

In [48]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
if num1>num2:
  print(f"maximum is {num1}")
elif num1==num2:
  print(f"both are same numbers")
else:
  print(f"maximum is {num2}")

Enter the first number:34
Enter the second number:2
maximum is 34

In [ ]:
## Practice problem, Task 2

## Rs 0 - Rs 9999 get 10% discount
## Rs 10000 - 20000 get 20% discount
## Rs 20000 get 25% discount

price= int(input('enter the price '))

if price>=0 and price<=9999:
  print('you got discount 10%')
elif price>=10000 and price <=20000:
  print ('you got discount of 20%')
else :
  print('you got discount of 25%')

enter the price12000
you got discount of 20%